/* ----------------------------------

vk_touch.css  file for Discuz! X3 Mobile touch


【未来科技】 
http://www.wekei.cn
专注于 Discuz模板插件开发设计等服务。
详情请 查看 https://addon.dismall.com/?@2367.developer
或咨询 客服 QQ 1508085698 1595675868

Author: Veiki
Created Time: 2020-01-10
Update Time: 2020-01-15
	添加 论坛页面幻灯模块

---------------------------------- */
html { overflow-x: hidden  !important; }
body { background:#f8f8f8;}
.bg { background:none; background:#f8f8f8;}
.hdc { background:none; }



/* common */
.vk_left { float: left !important; }
.vk_right { float: right !important; }
.vk_margin_top_0 { margin-top: 0px !important; }
.vk_padding_top_0 { padding-top: 0px !important; }
.vk_color_fff { color: #fff; }
.vk_color_fff a { color: #fff; }
a.vk_color_fff { color: #fff !important; }
.vk_color_fff li a { color: #fff; }
.vk_color_333 { color: #333; }
.vk_color_333 a { color: #333; }
.vk_color_333 li a { color: #333; }
.vk_border_none { border: none !important; }
.vk_border_none li { border: none !important; }
.vk_border_none a { border: none !important; }
.vk_bg_none { background: none !important; }
.vk_shadow_none { -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; }
.vk_shadow_3 { -moz-box-shadow: 2px 2px 3px #999; -webkit-box-shadow: 2px 2px 3px #999; box-shadow: 2px 2px 3px #999; }
.vk_page { position: relative; }


/* header */
#header { position:relative;  float:left; clear:both; width: 100%; height:44px; overflow:hidden; line-height:44px;  z-index: 99;   background:url(vk_header.png) repeat-x;  background-size: 640px 46px;   opacity:.96; filter:alpha(opacity=96);  border: none ;  margin-left: 0px; top: 0; left: 0%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;  }

.header .nav { clear:both; width: 100%; height:30px; line-height:30px;}
.nav { background: none; background-color: #fff; border-bottom: 1px solid #ccc; border-width: thin; padding: 2px 10px 8px 0; }

.vk_header_left { float: left; width: 25%; display: inline; }
.vk_header_middle { float: left; width: 50%; display: inline; }
.vk_header_right { float: right; width: 25%; display: inline; }
#vk_logo { display: block; width: 200px; height: 44px; margin: 0 auto; background-color: none; background: url(logo.png) no-repeat 50% 40%; background-size: 200px 40px; }

.header .left li { float: left; display: inline-block; }
.header .right li { float: right; display: inline-block; }

.header li .icon_forum { display: block; width: 38px; height: 44px;  background: url(vk_icon_forum.png) 50% 50% no-repeat; background-size: 24px 24px; }
.header li .icon_hotthread { display: block; width: 38px; height: 44px;  background: url(vk_icon_hot.png) 50% 50% no-repeat; background-size: 22px 22px; }
.header li .icon_userinfo { display: block; width: 38px; height: 44px;  background: url(vk_icon_user.png) 50% 50% no-repeat; background-size: 20px 20px; }
.header li .icon_search { display: block; width: 38px; height: 44px;  background: url(vk_icon_search.png) 50% 50% no-repeat; background-size: 22px 22px; }

.threadlist { position:relative; background: #fff; /* padding:10px; */ }




/* 论坛页面 forum */


/* 上部的发帖数、会员数等统计模块 */
.vk_forum_num { position: relative; background-color: #fff; height: 40px; line-height: 40px; text-align: center; margin-bottom: 10px; }
.vk_forum_num li { position: relative; float: left; display: block; width: 24.7%; height: 40px; line-height: 40px; color: #bbb; font-size: 12px; text-align: center; border-right: 1px solid #f2f2f2; border-width: thin; border-bottom: 1px solid #f2f2f2; overflow: hidden;}
.vk_forum_num li em { color: #555; }


/* 版块单列样式 */
.vk_forum { background: #fff; border: 1px solid #eee; border-top: 0; border-radius:0px/* 0px 5px 5px*/; }
.vk_forum li { height: 60px; border-bottom: 1px solid #eee; overflow: hidden; padding-left: 0px; }
.vk_forum li img { float: left;  max-height: 50px; display: inline-block; margin: 5px 10px 0 0;}
.vk_forum li:last-child { border-bottom: none; }
.vk_forum li a { display: block; padding-left: 0px; }

/* 版块图标 */
.vk_pic_hd { }
.vk_pic_hd img { max-width: 60px; max-height: 60px; margin: 3px 0; }
.vk_forum_name { height: 26px; line-height: 26px; overflow: hidden; }
.vk_forum_time { height: 26px; line-height: 26px; overflow: hidden; }
.vk_forum_time span { height: 12px; line-height: 12px; overflow: hidden; font-size: 10px; color: #aaa; padding: 0; letter-spacing: 0px; }


.wp {}
.wm { margin:0 10px; }
.bm { margin-bottom: 10px; }
.bm_c { padding: 0 10px; border-radius: 0px /*0px 5px 5px*/; }

.bm_h .o { float: right; width: 50px; }
.bm_h .o img { float: right; cursor: pointer; padding:5px 5px 0 0;  }
.bm_h .i { padding-left: 10px; }
.bm_h .pn { margin-top: 4px; }
.bm_h { height: 36px; background:#fff; background-size: 100% 36px;  line-height: 36px; white-space: nowrap; overflow: hidden;  border-radius: /*5px  5px 0 */ 0px ; border:1px solid #eee; }
.bm_h h2 { height: 36px; background:#fff ; border-radius:/* 5px  5px 0*/ 0px ; }
.bm_h:hover { }
.bm_h h2 a { display:block; margin:0 31px 0 10px; padding-left:0px; font-size:14px; line-height:36px; font-weight:600; color:#15a; }

.sub_forum li a { font-size:14px; line-height:36px; font-weight:400; color:#555; }

.sub_forum {  border-radius:3px;}

.sub_forum li .num { float: right; background: #fff; border: 1px solid #ddd; border-width: thin; color: #1ad; font-weight: 200;  font-size: 10px; height: 14px; line-height: 14px; margin-top: 8px; padding: 0 10px; border-radius: 10px;}




/* 列表页面 */
.nav .icon_edit a { display: block; width: 32px; height: 32px; margin-right: 10px; background: url(icon_edit.png) 50% 50% no-repeat; background-size: 26px 26px; line-height: 2000px; overflow: hidden; }
.threadlist .num { background: url(icon_reply.png) 0% 50% no-repeat; background-size: 12px 12px; }




/* 帖子页面 */
.postlist {}
.postlist h2 { background: #fff; margin: 0px; padding:5px 10px 0 10px; }
.postlist { background: #fff; }
.postlist .plc { background: #fff; }

.plc .avatar img { border:none; padding: 0px; border-radius: 100%; }


.plc .pi .message .quote { background: #f6f6f6; border-radius: 5px; }

.postalbum { position: absolute; top: 42px !important; }



/* 发帖页面 */
.post_from { background: #fff; }
.post_from .px { width: 94%; background: none; padding: 10px; margin: 10px 0; }
.btn_pn { margin-right: 10px; }



/* 我的页面 */
.user_avatar img { border-radius: 50%; border: 2px solid #fff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); width: 60px; height: 60px; }

.myinfo_list { width: 316px; margin: 0 auto; }
.myinfo_list li { float: left; margin: 0 5px 10px 5px; width: 145px; height: 70px;  background: none; background-color: #fff; border: 1px solid #ddd; border-radius: 3px;}













