<!--{if $_G['uid']}-->
	<a href="home.php?mod=space&do=pm" {if $_G[member][newpm]}style="color:#FFBC00;"{/if}><i class="icon icon-inbox"></i></a>
	<a class="avatar" href="home.php?mod=space&uid=$_G[uid]">
		<span>{$_G[member][username]}</span>
		<!--{avatar($_G[uid],small)}-->
	</a>
    <div class="popdiv lt">
		<div class="topdiv">
			{lang usergroup}：<a href="home.php?mod=spacecp&ac=usergroup">$_G[group][grouptitle]</a>
			<span class="sp">|</span> {lang credits}：<a href="home.php?mod=spacecp&ac=credit&showcredit=1">$_G[member][credits]</a>
			<a href="member.php?mod=logging&action=logout&formhash={FORMHASH}"
			   class="mwt-btn mwt-btn-danger mwt-btn-sm logoutbtn">
				<i class="icon icon-logout"></i> {lang logout}</a>
		</div>
		<div class="botdiv">
		  <a href="home.php?mod=spacecp">个人资料</a>
		  <a href="home.php?mod=spacecp&ac=profile&op=password">修改密码</a>

		  <a href="forum.php?mod=guide&view=my">{lang mypost}</a>
		  <a href="home.php?mod=space&do=favorite&view=me">{lang favorite}</a>
		  <a href="home.php?mod=space&do=friend">{lang friends}</a>

		  <!--{if ($_G['group']['allowmanagearticle'] || $_G['group']['allowpostarticle'] || $_G['group']['allowdiy'] || getstatus($_G['member']['allowadmincp'], 4) || getstatus($_G['member']['allowadmincp'], 6) || getstatus($_G['member']['allowadmincp'], 2) || getstatus($_G['member']['allowadmincp'], 3))}-->
			<span class="pipe">|</span><a href="portal.php?mod=portalcp"><!--{if $_G['setting']['portalstatus'] }-->{lang portal_manage}<!--{else}-->{lang portal_block_manage}<!--{/if}--></a>
		  <!--{/if}-->
		  <!--{if $_G['uid'] && $_G['group']['radminid'] > 1}-->
			<span class="pipe">|</span><a href="forum.php?mod=modcp&fid=$_G[fid]" target="_blank">{lang forum_manager}</a>
		  <!--{/if}-->
		  <!--{if $_G['uid'] && getstatus($_G['member']['allowadmincp'], 1)}-->
			<span class="pipe">|</span><a href="admin.php" target="_blank">{lang admincp}</a>
		  <!--{/if}-->

		  <!--{hook/global_usernav_extra1}-->
		  <!--{hook/global_usernav_extra2}-->
		  <!--{hook/global_usernav_extra3}-->
		  <!--{hook/global_usernav_extra4}-->

		  <a href="javascript:;" id="switchwidth" onclick="widthauto(this)" title="{if widthauto()}{lang switch_narrow}{else}{lang switch_wide}{/if}"><!--{if widthauto()}-->{lang switch_narrow}<!--{else}-->{lang switch_wide}<!--{/if}--></a>
		  <!--{if check_diy_perm($topic)}-->
		  <a href="javascript:openDiy();" title="打开 DIY 面板" class="xi1 xw1">DIY</a>
          <!--{/if}-->
		</div>
	</div>
<!--{elseif !empty($_G['cookie']['loginuser'])}-->
<p>
	<strong><a id="loginuser" class="noborder"><!--{echo dhtmlspecialchars($_G['cookie']['loginuser'])}--></a></strong>
	<span class="pipe">|</span><a href="member.php?mod=logging&action=login" onclick="showWindow('login', this.href)">{lang activation}</a>
	<span class="pipe">|</span><a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>
</p>
<!--{elseif !$_G[connectguest]}-->

	<a class="loginbtn" href="member.php?mod=logging&action=login" onclick="showWindow('login', this.href)">{lang login}</a>
	<span class="pipe">|</span>
	<a href="./member.php?mod={$_G[setting][regname]}" class="registerbtn">$_G['setting']['reglinkname']</a>

<!--{else}-->

	last 

<!--
<div id="um">
	<div class="avt y"><!--{avatar(0,small)}--></div>
	<p>
		<strong class="vwmy qq">{$_G[member][username]}</strong>
		<!--{hook/global_usernav_extra1}-->
		<span class="pipe">|</span><a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>
	</p>
	<p>
		<a href="home.php?mod=spacecp&ac=credit&showcredit=1">{lang credits}: 0</a>
		<span class="pipe">|</span>{lang usergroup}: $_G[group][grouptitle]
	</p>
</div>
-->

<!--{/if}-->

